html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    margin-bottom: 24px;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 48px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 24px;
}

.buttons button {
    font-family: sans-serif;
    padding: 8px;
    border: none;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #ccc;
}

.grid {
    width: 480px;
    height: 480px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #000;
}